@font-face {
  font-family: nexa;
  src: url(/font/Nexa-Heavy.ttf);

}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  font-family: quicksand, sans-serif;
}
h1{
  font-family: nexa;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: quicksand, sans-serif;
  overflow-x: hidden;
}
.sec1-h1 {
  font-size: 74px;
}

.sec1-violet{
  transform: translateY(10px);
}
.carousel{
  margin-bottom: 50px;
}

.sec1-ic{
  width: 240px;
  height: 25px;
  border-radius: 25px;
  background-color: #8A47F6;
  display: inline-block;
  transform:translate(270px,-160px) ;
}
.carousel-indicators ul {
  background-color: #E1E1E1; 
  height: 35px;
  border-radius: 50%; 
  margin-left: 5px;
  position: relative;
  top: 70px;
  z-index: -100;
  scale: .4;
  display: inline-block;

}
.carousel-indicators .active {
  background-color: #8A47F6; 
 
}
.sec1-col1-h1, span{
  color: #8A47F6;
  font-family: nexa;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  z-index: 100;
}
.footer .logo img {
  height: 40px; 
}
.footer .links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}
.footer .links a:hover {
  color: #FE8C45;
  border-bottom-color: #FE8C45;
}
.footer .social-icons {
  display: flex;
  gap: 10px;
}
.footer .social-icons .footer-icon {
  font-size: 24px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
}
.footer .social-icons .footer-icon:hover {
  color: #FE8C45;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 115, 0);
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
#page-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

.loader-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-top-color: #ff8102; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.card-custom {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
  font-weight: lighter;
  font-family: "quicksand", sans-serif;
  height: 417px !important;
}
.money{
  font-family: nexa;
}
.card-black {
  background-color: #000000 !important;
  color: #ececec !important;
}
.card-white {
  background-color: #fff;
  color: #000;
}
.btn-custom {
  background-color: #ff6a00 !important;
  color: #fff !important;
  border: none;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #e05c23 !important;
}
.bg-violet{
  background-color: #dbcfee;
}
.row-span {
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
}
.col-span-2 {
  grid-row: span 2; 
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
